@tailwind base;
@tailwind components;
@tailwind utilities;

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Carousel */
.slick-slide > div{
  margin: 0.5rem;
}
